<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AlfaPlayer2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727" sku="Client"/></startup>
    <userSettings>
        <AlfaPlayer2.Properties.Settings>
            <setting name="FolderTextColor" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="TitleBackColor" serializeAs="String">
                <value>31, 36, 69</value>
            </setting>
            <setting name="SelectedItemBackColor" serializeAs="String">
                <value>DarkCyan</value>
            </setting>
            <setting name="SelectedItemForeColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="ProgressForeColor" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>31, 36, 69</value>
            </setting>
            <setting name="ProgressTextColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="TitleTextColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="FilePanelTextColor" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="FilePanelFolderTextColor" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="LastFilePos" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxVolume" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SelectedSpecialItemForeColor" serializeAs="String">
                <value>0, 192, 192</value>
            </setting>
            <setting name="AboutBoxBackColor" serializeAs="String">
                <value>41, 46, 79</value>
            </setting>
            <setting name="OnBatteryColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="OnACColor" serializeAs="String">
                <value>0, 192, 192</value>
            </setting>
            <setting name="LastFolder" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="LastFile" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RootFolder" serializeAs="String">
                <value />
            </setting>
        </AlfaPlayer2.Properties.Settings>
    </userSettings>
</configuration>
